<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arash.altafi.views">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:roundIcon="${appIconRound}"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Views">
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>
        <activity
            android:name=".kotlin.image5.ImageKotlinActivity5"
            android:exported="false" />
        <activity
            android:name=".kotlin.image4.ImageKotlinActivity4"
            android:exported="false" />
        <activity
            android:name=".kotlin.autoComplete1.AutoCompleteKotlinActivity1"
            android:exported="false" />
        <activity
            android:name=".kotlin.toast4.ToastKotlinActivity4"
            android:exported="false" />
        <activity
            android:name=".kotlin.popupwindow4.PopupWindowKotlinActivity4"
            android:exported="false" />
        <activity
            android:name=".kotlin.recyclerView1.RecyclerViewKotlinActivity1"
            android:exported="false" />
        <activity
            android:name=".kotlin.progressbar5.ProgressBarKotlinActivity5"
            android:exported="false" />
        <activity
            android:name=".kotlin.text3.TextKotlinActivity3"
            android:exported="false" />
        <activity
            android:name=".kotlin.boomMenu.BoomMenuActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.popupwindow3.PopupWindowKotlinActivity3"
            android:exported="false" />
        <activity
            android:name=".kotlin.textJustify.JustifyKotlinActivity"
            android:exported="false" />
        <activity
            android:name=".kotlin.popupwindow2.PopupWindowKotlinActivity2"
            android:exported="false" />
        <activity
            android:name=".kotlin.popupwindow1.PopupWindowKotlinActivity1"
            android:exported="false" />
        <activity
            android:name=".kotlin.datepicker3.DatePickerKotlinActivity3"
            android:exported="false" />
        <activity
            android:name=".kotlin.datepicker2.DatePickerKotlinActivity2"
            android:exported="false" />
        <activity
            android:name=".kotlin.switchbutton3.SwitchButtonKotlinActivity3"
            android:exported="false" />
        <activity
            android:name=".kotlin.toast3.ToastKotlinActivity3"
            android:exported="false" />
        <activity
            android:name=".kotlin.triangleLabelView.TriangleLabelViewKotlinActivity1"
            android:exported="false" />
        <activity
            android:name=".kotlin.ratingbar1.RatingBarKotlinActivity1"
            android:exported="false" />
        <activity
            android:name=".kotlin.customtab.CustomTabKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.checkbox1.CheckBoxKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.datepicker1.DatePickerKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.numberpicker.NumberPickerKotlinActivity"
            android:exported="true" />
        <activity
            android:name=".kotlin.switchbutton2.SwitchButtonKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.switchbutton1.SwitchButtonKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.image3.ImageKotlinActivity3"
            android:exported="true" />
        <activity
            android:name=".kotlin.image2.ImageKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.image1.ImageKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.progressbar4.ProgressBarKotlinActivity4"
            android:exported="true" />
        <activity
            android:name=".kotlin.animation2.AnimationKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.text2.TextKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.animation1.AnimationKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.text1.TextKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.shimmer3.views.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".kotlin.shimmer3.views.ShimmerKotlinActivity3"
            android:exported="true" />
        <activity
            android:name=".kotlin.shimmer2.ShimmerKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.shimmer1.ShimmerKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.dialog3.DialogKotlinActivity3"
            android:exported="true" />
        <activity
            android:name=".kotlin.lottie.LottieKotlinActivity"
            android:exported="true" />
        <activity
            android:name=".kotlin.dialog2.DialogKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.dialog1.DialogKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.progressbar3.ProgressBarKotlinActivity3"
            android:exported="true" />
        <activity
            android:name=".kotlin.progressbar2.ProgressBarKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.progressbar1.ProgressBarKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.snackbar2.SnackBarKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.snackbar1.SnackBarKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast2.activities.DarkColorMotionToastKotlin"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast2.activities.DarkMotionToastKotlin"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast2.activities.ColorMotionToastKotlin"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast2.activities.MotionToastKotlin"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast2.ToastKotlinActivity2"
            android:exported="true" />
        <activity
            android:name=".kotlin.toast1.ToastKotlinActivity1"
            android:exported="true" />
        <activity
            android:name=".kotlin.KotlinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>